.markdown table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}

.markdown th,
.markdown td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


.markdown td {
  word-wrap: break-word;
}

